<div id="course-title">
  <div class="row align-middle">
    <div class="small-12 large-10 large-offset-1 columns">
      <div class="row align-middle">
        <div class="small-12 columns">
          <h1>Careers</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">
    <br />
    <h2>I&rsquo;m Available for Full-time Opportunites</h2>
     <p class="lead">DevStream is a sample app built with Ruby on Rails. You can view the code on <%= link_to "Github", "https://github.com/jwmunn/flixter" %>. I am an aspiring software engineer with a design background. If you have opportunities available, please <%= link_to "reach out to me via email", "mailto:contact@justinmunn.co" %>.</p>
     <p class="lead">Here are some more links to learn more about me: <%= link_to "Github Profile", "https://github.com/jwmunn" %>, <%= link_to "Twitter Profile", "https://twitter.com/jwmunn" %> &amp; <%= link_to "LinkedIn Resume", "https://www.linkedin.com/in/jwmunn/" %>
  </div>
</div>