<div id="course-title">
  <div class="row align-middle">

     <div class="small-12 large-10 large-offset-1 columns">
      <div class="row align-middle">
        <div class="small-12 medium-7 columns">
          <h1>Learn Development on Your Own&nbsp;Time</h1>
          <p>
            <%= link_to 'Browse Courses', courses_path, class: 'button button-white-secondary ' %>
          </p>
        </div>
        <div id="course-image" class="small-12 medium-5 columns">
          <%= link_to courses_path do %>
            <%= image_tag 'web-dev-screen.jpg', class: 'feature-image' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center feature">
  <div class="small-12 large-4 columns">
    <%= fa_icon "book", class: 'fa-4x gradient' %>
    <h3>Amazing Courses</h3>
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>
  <div class="small-12 large-4 columns">
    <%= fa_icon "hourglass-start", class: 'fa-4x gradient' %>
    <h3>Learn At Your Own Pace</h3>
    <p>Enroll and access a courses archive of lessons.</p>
  </div>
  <div class="small-12 large-4 columns">
    <%= fa_icon "comments-o", class: 'fa-4x gradient' %>
    <h3>Join our Community</h3>
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>