<div id="course-title">
  <div class="row align-middle">
    <div class="small-12 large-10 large-offset-1 columns">
      <div class="row align-middle">
        <div class="small-12 medium-7 columns">
          <h1><%= current_course.title %></h1>
          <p class="lead"><%= current_course.description %></p>
          <p>
            <%= link_to 'Preview as Student', course_path(current_course), class: 'button button-white-secondary shrink columns' %>
          </p>
        </div>
        <div id="course-image" class="small-12 medium-5 columns">
          <%= image_tag current_course.image, class: 'feature-image' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row align-bottom">
  <div class="small-12 large-10 large-offset-1 columns">
    <br />
      <h2>Sections <a data-open="newSectionModal" class="button new-section-button">Add a New Section</a></h2>
      <hr />
  </div>
</div>

<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">
     <div class="row">
       <div class="columns">
        <div class="sections">
          <% current_course.sections.rank(:row_order).each do |section| %>
            <div class="section card card-content" data-update-url=<%= instructor_section_path(section) %>>
               <h3><%= fa_icon "sort" %> <%= section.title %></h3>
              
              <br />
              <ul class="lessons">
                <% section.lessons.rank(:row_order).each do |lesson| %>
                  <li data-update-url=<%= instructor_lesson_path(lesson) %>>
                    <%= fa_icon "sort" %>&nbsp;&nbsp;<strong><%= lesson.title %>:</strong> <%= lesson.subtitle %>
                  </li>
                <% end %>
                <li><a data-open="newLessonModal" class="button new-lesson-button" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">Add a New Lesson</a></li>
              </ul>
              
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="reveal" id="newSectionModal" data-reveal>
  <h1>Add a New Section.</h1>
  <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
    <%= f.input :title %>
    <br />
    <%= f.submit 'Add a section', class: 'button' %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="newLessonModal" data-reveal>
  <h1>Add a new lesson.</h1>
  <%= simple_form_for @lesson, url: '#', html: {id: 'newLessonForm' } do |f| %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :video %>
    <br />
    <%= f.submit 'Add the lesson', class: 'button' %>
    <br />
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<script>
  $(function(){
    $('.new-lesson-button').click(function(event) {
      var lessonUrl = $( event.target ).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });

    $('.sections').sortable({
      update: function( event, ui ){
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.lessons').sortable({
      update: function( event, ui ){
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>