<div class="row">
  <div class="card small-12 large-10 large-offset-1 columns">
    <div class="row align-bottom">
      <div class="columns">
        <h1><%= current_course.title %> <%= link_to 'Preview as Student', course_path(current_course), class: 'button alert float-right shrink columns' %></h1>
      </div>
    </div>
     <div class="row">
       <%= image_tag current_course.image, class: 'columns' %>
     </div>
    <br />
     <div class="row">
       <div class="columns">
        <p><a data-open="newSectionModal" class="button">Add a New Section</a></p>
       </div>
     </div>
     <div class="row">
       <div class="columns">
        <div class="sections">
          <% current_course.sections.rank(:row_order).each do |section| %>
            <div class="section" data-update-url=<%= instructor_section_path(section) %>>
              <h3><%= fa_icon "sort" %> <%= section.title %> <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'button float-right' %></h3>
              
              <br />
              <ul class="lessons">
                <% section.lessons.rank(:row_order).each do |lesson| %>
                  <li data-update-url=<%= instructor_lesson_path(lesson) %>>
                    <%= fa_icon "sort" %> <strong><%= lesson.title %></strong> - <%= lesson.subtitle %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="reveal" id="newSectionModal" data-reveal>
  <h1>Add a New Section.</h1>
  <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
    <%= f.input :title %>
    <br />
    <%= f.submit 'Add a section', class: 'button' %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<script>
  $(function(){
    $('.sections').sortable({
      update: function( event, ui ){
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.lessons').sortable({
      update: function( event, ui ){
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>