<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Flixter" %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <nav>
      <div class="top-bar">
        <div class="row">
            <div class="expand columns">
              <ul class="menu">
                <li><%= link_to 'Flixter', root_path, class: 'menu-text' %></li>
                <li><%= link_to 'See All Courses', courses_path %></li>
              </ul>
            </div>
            <div class="shrink columns">
              <ul class="menu">
                <% if user_signed_in? %>
                  <li>Hi, <%= current_user.email %>&nbsp;&nbsp;</li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'hollow button' %></li>
                <% else %>
                  <li><%= link_to 'Sign Up', new_user_registration_path, class: 'button' %></li>
                  <li><%= link_to 'Log In', new_user_session_path, class: 'hollow button' %></li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="callout primary"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="callout alert"><%= alert %></p>
    <% end %>
    <section class="content">
      <%= yield %>
    </section>
    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <strong>Teachers</strong>
          <%= link_to 'Teach a Course', new_instructor_course_path %>
        </div>
      </div>
    </footer>
    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
